
.panel {
    width: 550px;
    display: block;
}

.title {
    text-align: center;
}

.card {
    /*margin-top: 10px;*/
    margin-bottom: 20px;
    border-color: rgba(0,123,255, .5);
    border-radius: 10px;
}
/*h1, h3 {*/
/*    font-weight: 800;*/
/*}*/
